body{
  background-image: url(/Users/kushidajunya/Desktop/勤行選択/jpg);
  background-color: blueviolet;
  color:white;
  font-size:20px;
  font-style: initial;
  text-align: center;
}
.jpg{
  text-align: center;
}
h1{
  color:black;
  background-color: gold;
}